<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>about us</h1>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/music">music</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
    </nav>
    <h1>About <br> Emilia</h1>
    <section>
        <article>
            <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum quas eum delectus accusantium ut.</h3>
            <p>- Lorem ipsum dolor sit amet.</p>
        </article>
        <article>
            <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum quas eum delectus accusantium ut.</h3>
            <p>- Lorem ipsum dolor sit amet.</p>
        </article>
    </section>

</body>
</html>