<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head')  %> 
  <body id="inicio" class="music">
    <%- include('./partials/header')  %> 


    <main class="music__main">
      <h1>MUSIC //</h1>
      <h5>Direct Links</h5>
      <nav class="music__main__nav">
        <ul>
          <li><a href="#album">Album</a></li>
          <li><a href="#organic">Video: Organic Love</a></li>
          <li><a href="#street">Video: Street Light</a></li>
        </ul>
      </nav>
      <section class="music__main__section">
        <article id="album" class="music__main__section__article">
          <h2>
            album <br />
            twist my reality
          </h2>
          <img src="/images/emilia-play-list.png" alt=""  />
          <ol>
            <li><i class="fa fa-play"></i> Organic love</li>
            <li><i class="fa fa-play"></i> Twist my reality</li>
            <li><i class="fa fa-play"></i> Street Light</li>
            <li><i class="fa fa-play"></i> Lorem ipsum dolor sit amet.</li>
          </ol>
          <a href="#inicio">Go top</a>
        </article>
      </section>

      <section class="music__main__section">
        <article id="organic" class="music__main__section__article">
          <h2>
            video <br />
            Organic Love
          </h2>
          <iframe
            src="https://player.vimeo.com/video/135166028"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="music__main__section__article__info">
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
          </div>
          <a href="#">Go top</a>
        </article>
        <article id="street" class="music__main__section__article">
          <!-- caja de video -->
          <h3>Video<br />Street light</h3>
          <iframe
            src="https://player.vimeo.com/video/134861419"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen>
          </iframe>
          <div class="music__main__section__article__info">
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
          </div>
          <a href="#inicio">Go Top</a>
        </article>
      </section>
    </main>
  </body>
</html>
