<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script
      src="https://kit.fontawesome.com/50fa450a40.js"
      crossorigin="anonymous"
    ></script>
    <title>Emilia Cole | Music</title>
  </head>
  <body id="inicio">
    <header>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/music">music</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </nav>
    </header>

    <main>
      <h5>Direct Links</h5>
      <nav>
        <ul>
          <li><a href="#album">Album</a></li>
          <li><a href="#organic">Video: Organic Love</a></li>
          <li><a href="#street">Video: Street Light</a></li>
        </ul>
      </nav>
      <section>
        <article id="album">
          <h3>
            album <br />
            twist my reality
          </h3>
          <img src="/images/emilia-play-list.png" alt="" width="640" />
          <ol>
            <li><i class="fa fa-play"></i> Organic love</li>
            <li><i class="fa fa-play"></i> Twist my reality</li>
            <li><i class="fa fa-play"></i> Street Light</li>
            <li><i class="fa fa-play"></i> Lorem ipsum dolor sit amet.</li>
          </ol>
          <a href="#inicio">Go top</a>
        </article>
      </section>

      <section>
        <article id="organic">
          <h3>
            video <br />
            Organic Love
          </h3>
          <iframe
            src="https://player.vimeo.com/video/135166028"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
          </div>
          <a href="#">Go top</a>
        </article>
        <article id="street">
          <!-- caja de video -->
          <h3>Video<br />Street light</h3>
          <iframe
            src="https://player.vimeo.com/video/134861419"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen>
          </iframe>
          <div>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
          </div>
          <a href="#inicio">Go Top</a>
        </article>
      </section>
    </main>
  </body>
</html>
