.about{ 
    background-image: url("/images/emilia-about.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right top;
}

.about__main--titulo{
    margin-top: 60px;
}

.about__main__section{
    color: var(--colorVerde);
}

.about__main__section--article h3,p{
    margin-bottom: 20px;
    margin-top: 40px;
}

