* {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--tipografiaGeneral);
  padding: 10px;
}

li {
  list-style: none;
}

ul,
ol {
  padding: 0px;
}

h1 {
  font-family:var(--tipografiaTitulos);
  font-weight: 600;
  font-size: 66px;
  text-transform: uppercase;
}
